font-face {font-family: Open Sans Regular;src: url(../fonts/OpenSans-Regular.ttf);display:swap;}
*{
    margin: 0;
}
body{
    background-color: #ebebed;
}
.nav-section, .calendar-section{
    width: 270px;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 900;
    padding: 10px 20px;
    display: block;
    margin: auto;
    transition: all 0.6s ease-in-out;
}
.box{
    box-shadow:0 0 0 0 rgba(0, 0, 0, 0.1);
    color: white;
    font-weight: 900;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    text-decoration: none;
    margin-right: 11px;
    font-size: 110%;
    margin-top: 15px;
}.box:hover{
    color: white;
}
.calendar-section {
    left: auto;
    right: 0;
    width: 315px;
    padding: 5px !important;
}
.main-section{
    margin-left: 270px;
    width: calc(100% - 580px);
    transition: all 0.6s ease-in-out;
}
@media all and (max-width:1130px){
    .main-section{
        width: calc(100% - 280px);
    }.calendar-section{
        display: none  !important;
    }
}
.icon-menu, .icon-close{
    font-size: 25px;
    font-weight: 900;
    color: #2472b0;
    cursor: pointer;
    display: none;
  }
  thead, tbody{
      display: table;
      width: 100%;
  }
@media all and (max-width:1000px){
    .nav-section{
        left: -270px;
    }
    .main-section{
        margin-left: 0px;
        width: calc(100% - 10px) !important;
    }
    .icon-menu{
        display: block;
    }
}
.namer{
    position: absolute;
            top: 24%;
            left: 50%;
            transform: translate(-50%, 50%);
            font-size: 1em;
}
@media all and (max-width:1225px){
    .namer{
        top: 24%;
                left: 50%;
                transform: translate(-50%, 50%);
                font-size: 0.8em;
    
}}
@media all and (max-width:1200px){
    .namer{
        top: 24%;
                left: 50%;
                transform: translate(-50%, 50%);
                font-size: 0.7em;
    
}}
@media all and (max-width:1160px){
    .namer{
        top: 24%;
                left: 50%;
                transform: translate(-50%, 50%);
                font-size: 0.6em;
    
}}
@media all and (max-width:1120px){
    .namer{
        top: 23%;
                left: 50%;
                transform: translate(-50%, 50%);
                font-size: 0.5em;
    
    }}
ul li{
    list-style: none;
    
}
.nav-section ul li{
    border-radius: 30px;
    height: 50px;
    display: flex;
    width: 100%;
    padding-left: 17px;
    align-items: center;
    margin-bottom: 10px;
}
.nav-section ul li i{
    margin-right: 10px;
}
.jumbotron{
    background-color: #2472b024 !important;
}
.nav-section ul li.active, .nav-section ul li.active:hover {
    background-color: #3abff9;
}
.nav-section ul li:hover{
    background-color: #2471b023;
}
.nav-section ul li a {
    font-size: 15px;
    font-weight: 500;
    width: 100%;
}
.nav-section ul li.active > a{
    color: white !important;
}
.nav-section ul{
    padding-left: 0.6rem;
}input:focus, select:focus{
    border: none !important;
  }

  a {
    color: #3abff9 !important;
  }