{% extends "layout.html" %}
{% block content %}
<style>
  .form-data {
    margin-right: 5px;
  }
</style>
    <div class="content-section">
      <div class="logo" style="justify-content: center;
      margin-bottom: 20px;
      margin-top: 20px;"><a href="/">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" />
        <h3 style="display:inline;color: inherit !important;">DIACHECK</h3></a>
      </div>
        <span class="form-title">Register Form</span>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        <form method="POST" class="row" action="" style="justify-content: center;">
            {{ form.hidden_tag() }}
            <div class="form-data col-md-5">
              {{form.first_name.label}}
              {{form.first_name}}
              {% if form.first_name.errors %}
              {% for error in form.first_name.errors %}
              <span class="error-message" style="color: red;">{{ error }}</span>
              {% endfor %}
            {% endif %}
          </div>
          <div class="form-data col-md-5">
            {{form.last_name.label}}
            {{form.last_name}}
            {% if form.last_name.errors %}
            {% for error in form.last_name.errors %}
            <span class="error-message" style="color: red;">{{ error }}</span>
            {% endfor %}
          {% endif %}
        </div>
            <div class="form-data col-md-10">
                {{form.email.label}}
                {{form.email}}
                {% if form.email.errors %}
                {% for error in form.email.errors %}
                <span class="error-message" style="color: red;">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </div>
            
            <div class="form-data col-md-5">
                {{form.password.label}}
                {{form.password}}
                {% if form.password.errors %}
                {% for error in form.password.errors %}
                <span class="error-message" style="color: red;">{{ error }}</span>
                {% endfor %}
              {% endif %}
            </div>

            <div class="form-data col-md-5">
              {{form.confirm_password.label}}
              {{form.confirm_password}}
              {% if form.confirm_password.errors %}
              {% for error in form.confirm_password.errors %}
              <span class="error-message" style="color: red;">{{ error }}</span>
              {% endfor %}
            {% endif %}
          </div>
            
            <div class="form-data col-md-10">
                {{form.submit}}
            </div>
            <div class="border-top pt-3">
        
        <small class="text-muted">
          Already a member? <a class="ml-2" href="{{ url_for('login') }}">Login to Dashboard</a>
        </small>
    </div>
        </form>
        
    </div>
    
{% endblock content %}

